html, body {
	margin: 0;
	padding: 0;
}

.container {	max-width: 1600px;
				max-height: 900px;
				display:flex;
				flex-direction: column;
				background: url("../img/homepage.png") no-repeat center top;
				justify-content: center;
				align-items: center;
				height: 1080px;

	 }
.AboutPage { 	background-color: lightblue;
				width:65%;
				height:100%;
				font-family: 'Open Sans Condensed', sans-serif;
				padding-left: 100px;
				font-size: 25px;
				margin:10px;
				border:1px solid black;
				box-shadow: 0 5px 10px rgba(000, 0, 0, 1);


			 }
.P2 			{ max-width: 50%;


			}

img { 
				box-shadow: 0 5px 10px rgba(000, 0, 0, 1);
				border: 2px solid black;
 }

.AboutRow {
			display: flex;
			flex-direction: row;
}

.AboutRow2 {

			display: flex;
			flex-direction: column;
			align-items: center;


} 


.Bottom_Nav { 	background-color:black;
				display:flex;
				flex-direction: row;
				justify-content:center;
				max-width: 1600px;
				max-height: 900px;
				width: 100%;
				height: 10%;
				position: fixed;
				bottom: 0;
				left: 0;
								}

.Bottom_Nav2 { 	background-color:black;
				display:flex;
				flex-direction: row;
				justify-content: space-between;
				width: 80%;
				height: 10%;	
				max-width: 1600px;
				max-height: 900px;

				
				}

.home { color:lightblue;
		 font-size: 200%;
		font-family: 'Open Sans Condensed', sans-serif;
		 text-decoration:none;
	 }

.about { color:lightblue;
		 font-size: 200%;
		 font-family: 'Open Sans Condensed', sans-serif;
		 text-decoration:none;
	 }

.contact { 	color:lightblue;
			font-size: 200%;
		font-family: 'Open Sans Condensed', sans-serif;
			text-decoration:none;
	 }

.support  { color:lightblue;
			font-size: 200%;
			font-family: 'Open Sans Condensed', sans-serif;
			text-decoration:none;
	 }

