

.background {   background-color: black;


}

.container {	max-width: 1600px;
				max-height: 900px;
				display:flex;
				flex-direction: column;
				background-image:url(../img/homepage.png);


	 }
.homepage { width:100%;
			height:100%;
            }


.button { background-color: green;
			width: 100px;
			height: 100px;
			 }




.Bottom_Nav { 	background-color:black;
				display:flex;
				flex-direction: row;
				height: 100px;
				justify-content:center;
								}

.Bottom_Nav2 { 	background-color:black;
				width: 50%;
				display:flex;
				flex-direction: row;
				justify-content: space-between;

				
				}

.about { color:lightblue;
	font-size: 300%;
	 }

.contact  { color:lightblue;
	font-size: 300%;
	 }

.support  { color:lightblue;
	font-size: 300%;
	font-family: 
	 }

